extends layout

block content
  section#simple
    .row
      .colums
        h1= __('Punchcard')

        p= __('Punchcard is a service for tracking working hours. Either if you are a freelancer, or if you have to use a system that is unnecessary complicated elsewhere, this is a service that focuses on the core task: Tracking hours.')

        h2= __('Simple to use')

        p= __('Even though this is a webpage, and not a native mobile app, it should be fast and as few clicks as possible for you to register your time. When you log in, the main page is where you do the hours registration, and if you need to have a look at statistics for a project, you get there from the main page.')

        h2= __('Reporting')

        p= __('As this is a new service, there is only very simple reporting: You can get a list of registered hours per project in total and by yourself. What reporting would you need to start using this service?')

        hr

        p.text-center
          = __('By')
          | &nbsp;
          a(href="http://strekmann.no") Strekmann

  script#template(type="text/ractive")
    .row
      .columns
        h1= __('Add working hours')

    form(on-submit="createHours")
      .row
        .columns
          label= __('Project')
          select#project(name="project" autofocus="{{has_project(false)}}" disabled="{{has_project(true)}}")
            | {{#projects}}
            | {{#.active}}
            option(value="{{._id}}" selected) {{.name}} ({{.client}})
            | {{/.active}}
            | {{^.active}}
            option(value="{{._id}}") {{.name}} ({{.client}})
            | {{/.active}}
            | {{/projects}}
      .row
        .columns.medium-3
          label(for="date")= __('Date')
          input#date(type="date" value="{{date}}" autofocus="{{has_project(true)}}")
        .columns.medium-3.small-4
          label(for="start")= __('Start')
          input#start.timepicker(type="time" step="900")
        .columns.medium-3.small-4
          label(for="end")= __('End')
          input#end.timepicker(type="time" step="900")
        .columns.medium-3.small-4
          label(for="duration")= __('Duration')
          input#duration(type="number" step="0.25" value="{{duration}}")
        .columns
          label(for="comments")= __('Comments')
          textarea#comments(name="comments")
      .row
        .columns
          button= __('Save')

    .row
      .columns
        h1= __('Your ten last registrations across all projects')
        table
          thead
            tr
              th= __('Project')
              th= __('Date')
              th= __('Start')
              th= __('End')
              th= __('Duration')
              th= __('Registered')
          | {{#hours}}
          tr
            td
              a(href="/projects/{{project._id}}") {{project.name}}
            td {{dateformat(date)}}
            td {{timeformat(start)}}
            td {{timeformat(end)}}
            td {{duration}}
            td {{datetimeformat(created)}}
          | {{/hours}}

block javascript
  script
    | require('s7n').tracker.simple(
    != JSON.stringify(projects)
    | ,
    != JSON.stringify(hours)
    | );
