extends layout

block content
  section#simple

  script#template(type="text/ractive")
    .row
      .columns
        h1 Ny tid

    form(on-submit="createHours")
      .row
        .columns
          label= __('Project')
          select#project(name="project" autofocus="{{has_project(false)}}" disabled="{{has_project(true)}}")
            | {{#projects}}
            | {{#.active}}
            option(value="{{._id}}" selected) {{.name}} ({{.client}})
            | {{/.active}}
            | {{^.active}}
            option(value="{{._id}}") {{.name}} ({{.client}})
            | {{/.active}}
            | {{/projects}}
      .row
        .columns.medium-3
          label(for="date")= __('Date')
          input#date(type="date" value="{{date}}" autofocus="{{has_project(true)}}")
        .columns.medium-3.small-4
          label(for="start")= __('Start')
          input#start.timepicker(type="time" step="900")
        .columns.medium-3.small-4
          label(for="end")= __('End')
          input#end.timepicker(type="time" step="900")
        .columns.medium-3.small-4
          label(for="duration")= __('Duration')
          input#duration(type="number" step="0.25" value="{{duration}}")
        .columns
          label(for="comments")= __('Comments')
          textarea#comments(name="comments")
      .row
        .columns
          button= __('Save')

    .row
      .columns
        table
          thead
            tr
              th= __('Project')
              th= __('Date')
              th= __('Start')
              th= __('End')
              th= __('Duration')
              th= __('Registered')
          | {{#hours}}
          tr
            td {{project.name}}
            td {{date}}
            td {{timeformat(start)}}
            td {{timeformat(end)}}
            td {{duration}}
            td {{datetimeformat(created)}}
          | {{/hours}}

block javascript
  script
    | require('s7n').tracker.simple(
    != JSON.stringify(projects)
    | ,
    != JSON.stringify(hours)
    | );
