extends layout

block content
  section#organization

  script#template(type="text/ractive")
    .row
      .columns.medium-6
        h1= __('Projects')
        | {{#projects}}
        .project
          .right
            a.button.tiny(href="/?project={{._id}}")
              i.fa.fa-dashboard
            a.button.tiny.secondary(on-click="deleteProject")
              i.fa.fa-trash-o
          h2
            a(href="/projects/{{._id}}") {{.name}}
          .client {{.client}}

        | {{/projects}}

        a(href="/companies/#{organization._id}/clients")
          h1= __("Clients")
        | {{#each clients}}
        .client
          h2
            a(href="/companies/#{organization._id}/clients/{{._id}}") {{.name}}
        | {{/each}}



      .columns.medium-6
        .row
          .columns
            h1= __('New project')

        form(on-submit="createProject")
          .row
            .columns
              label= __('Project name')
              input#name(type="text" name="name" value="{{.project.name}}")
          .row
            .columns
              label= __('Client')
              select(value='{{.project.client}}' name="client")
                option(selected disabled)= __('No client')
                | {{#each clients}}
                option(value="{{._id}}") {{.name}}
                | {{/each}}
          .row
            .columns
              button= __('Save')

block javascript
  script
    | require('s7n').tracker.projects(
    != JSON.stringify(projects)
    | ,
    != JSON.stringify(clients)
    | );
