extends layout

block content
  section#projects

  script#template(type="text/ractive")
    .row
      .columns.medium-6
        h1= __('Your projects')
        | {{#projects}}
        .project
          .right
            a.button.tiny(href="/?project={{._id}}")
              i.fa.fa-dashboard
            a.button.tiny.secondary(on-click="deleteProject")
              i.fa.fa-trash-o
          h2
            a(href="/projects/{{_id}}") {{name}}
          .client {{client}}

        | {{/projects}}

      .columns.medium-6
        .row
          .columns
            h1= __('New project')

        form(on-submit="createProject")
          .row
            .columns
              label= __('Project name')
              input#name(type="text" name="name")
          .row
            .columns
              label= __('Client')
              input#client(type="text" name="client")
          .row
            .columns
              button= __('Save')

block javascript
  script
    | require('s7n').tracker.projects(
    != JSON.stringify(projects || [])
    | ,
    != JSON.stringify(clients || [])
    | );
